<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>YARD Ruby</string>
	<key>ordering</key>
	<array>
		<string>1389F2C8-050E-4664-89A0-DCB8A1A168E0</string>
		<string>4AF61B71-12D3-4F78-9983-3C9AD2D6582D</string>
		<string>4675340A-EE38-4922-B648-3EF900B51D26</string>
		<string>107E5B78-111A-42A5-BA6F-408B80CD7072</string>
		<string>44B30FC1-E175-4B89-870E-D5CAAFEFE856</string>
		<string>02E4B6A6-3AC8-41B4-BBFF-1BD49E833877</string>
		<string>11314DEC-DEC2-4F8C-BC58-C5484D9651B9</string>
	</array>
	<key>uuid</key>
	<string>69103EBB-C3CF-4E98-B57E-528975505CFD</string>
</dict>
</plist>
